@model Photographie.Models.Photo_

@{
    ViewData["Title"] = "Delete";
}

<div class="container" style="margin-top:80px">
    <h1 class="alert alert-danger">Are you sure you want to Delete this?</h1>
    <div class="row">
        <div class="col-md-8">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Id)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Id)
                </dd>
                <dt>
                    Image
                </dt>
                <dd>
                    <br />
                    <img src="~/MyProtfolio/@Model.Image_" class="img-fluid" style="width:250px;height:250px;border-radius:50%">
                </dd>
            </dl>
            <form asp-action="Delete">
                <div class="form-group">
                    <div class="row">
                        <input hidden asp-for="@Model.Id">
                        <input type="submit" value="Delete" class="btn btn-danger" />
                        <a asp-action="Index" class="btn btn-danger-outline">Back to List</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
